{% extends "base.html" %}
{% block cuerpo  %}
<div class="row">
    <div class="col-md-4 offset-md-4">
<h2>Editar Cliente</h2>
<!--aquí codigo tarjeta-->
<!--editassssss-->
<div class="card">
    <div class="card-body">
        <form action="/editarcliente/" method="POST">{% csrf_token %}  <!--falta accion-->
            <div class="form-group">
                <input type="text" id="txtcod" name="txtcod" class="form-control" value="{{losclientes.id_cliente}}" placeholder="codigo" minlenght="6" maxLenght="6" required>
            </div>
            <div class="form-group py-3">
                <input type="text" id="txtnombre" name="txtnombre"class="form-control"value="{{losclientes.nombre}}" placeholder="nombre"   maxLenght="100" required>
            </div>
            <div class="form-group py-3">
                <input type="text" id="numcel" name="numcel"class="form-control"value="{{losclientes.numero}}" placeholder="numero"   maxLenght="100" required>
            </div>
            <div class="form-group py-3">
                <input type="text" id="txtciudad" name="txtciudad" class="form-control"value="{{losclientes.ciudad}}" placeholder="ciudad"   maxLenght="100" required>
            </div>
            <div class="form-group py-3">
                <input type="text" id="numcuenta" name="numcuenta" class="form-control"value="{{losclientes.numCuenta}}" placeholder="numero de cuenta bancaria"   maxLenght="100" required>
            </div>
            <div class="form-group py-3">
                <input type="text" id="txtdire" name="txtdire" class="form-control"value="{{losclientes.direccion}}" placeholder="direccion"   maxLenght="100" required>
            </div>
            
            
            <div class="form-group py-2">
                <button type="submit" class="btn btn-primary">guardar</button>
            </div>
        </form>
    
    </div>
</div><!--la tarjeta-->
<!--aquí codigo tarjeta-->
    </div>
</div>


{% endblock  %}