{% extends "base.html" %}


{% block cuerpo %}
{% load static %}
<div class="row"><!-- la fila -->
<div class="col-sm-12 col-md-4 col-lg-4 col-xl-4"><!-- columna izquierda -->

<h1>registrar</h1>
    <div class="card">
        <div class="card-body">
            <form action="/registrarcliente/" method="POST">{% csrf_token %}  <!--falta accion-->
                <div class="form-group">
                    <input type="text" id="txtcod" name="txtcod" class="form-control"  placeholder="codigo" minlenght="6" maxLenght="6" required>
                </div>
                <div class="form-group py-3">
                    <input type="text" id="txtnombre" name="txtnombre"class="form-control" placeholder="nombre"   maxLenght="100" required>
                </div>
                <div class="form-group py-3">
                    <input type="text" id="numcel" name="numcel"class="form-control" placeholder="numero de celular"   maxLenght="100" required>
                </div>
                <div class="form-group py-3">
                    <input type="text" id="txtciudad" name="txtciudad" class="form-control" placeholder="ciudad"   maxLenght="100" required>
                </div>
                <div class="form-group py-3">
                    <input type="text" id="numcuenta" name="numcuenta" class="form-control" placeholder="numero de cuenta bancaria"   maxLenght="100" required>
                </div>
                <div class="form-group py-3">
                    <input type="text" id="txtdire" name="txtdire" class="form-control" placeholder="direccion"   maxLenght="100" required>
                </div>
                <div class="form-group py-3">
                    <input type="text" id="txtemail" name="txtemail" class="form-control"  placeholder="email"   maxLenght="100" required>
                </div>
                
                <div class="form-group py-2">
                    <button type="submit" class="btn btn-primary">guardar</button>
                </div>
            </form>
        
        
        </div>
    </div><!--la tarjeta-->

</div><!-- columna izquierda --> 

<div class="col-sm-12 col-md-8 col-lg-8 col-xl-8"><!--columna derecha-->
    <h1> 
        listado de clientes
    </h1>
    <img class="w-50" src="{% static 'img/cliente.jpg' %}" alt="lole" weight="400" height="400">
    <!--  la tabla   -->
        <table class="table table-striped">
            <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">codigo</th>
                <th scope="col">nombre</th>
                <th scope="col">numero de celular</th>
                <th scope="col">ciudad</th>
                <th scope="col">numero de cuenta bank</th>
                <th scope="col">direccion</th>
                <th scope="col">email</th>
1                <th>opciones</th>
            </tr>
            </thead>
            <tbody>
            {% for n in losclientes %}
            <tr>
                <td>
                {{forloop.counter}}</td>
                <td>{{n.id_cliente}}  </td>
                <td>{{n.nombre}}  </td>
                <td>{{n.numero}}  </td>
                <td>{{n.ciudad}}  </td>
                <td>{{n.numCuenta}}  </td>
                <td>{{n.direccion}}  </td>
                <td>{{n.email}}  </td>

                <td><a href="seleccionarcliente/{{n.id_cliente}}" class="btn btn-info">editar</a></td><!--falta codigo-->
                <td><a href="borrarcliente/{{n.id_cliente}}" class="btn btn-danger">borrar</a></td>
            </tr>
            
            {% endfor %}
            </tbody>
        </table>
        <!--  la tabla   -->
    <div><!--columna derecha-->
    </div><!-- la fila -->
{% endblock %}
